/* Variables*/

:root {
  --basic-theme: #FFFFFF;
  --basic-text: #283136;
  --basiс-title: #000000;
  --red: #FB565A;
  --red-hover: #E74246;
  --red-active: #D7373B;
  --green: #00CA74;
  --green-hover: #00BC6C;
  --green-active: #00AA62;
  --yellow: #EFC84A;
  --yellow-hover: #EAB534;
  --yellow-active: #E5A722;
  --grey: #EEEEEE;
  --grey-hover: #DFDFDF;
  --grey-active: #D5D5D5;
  --basic-social: #E1E1E1;
  --basic-preview-browser: #4D4D4D;
  --basic-contacts: #666666;
  --basic-footer-info: #444444;
}

/* Global */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-text);
  background-color: var(--basic-theme);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}
/* Button */
.btn {
  display: inline-block;
  padding: 16px 40px;
  font-size: inherit;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--red);
  color: var(--basic-theme);
  border: none;
  border-radius: 3px;
}
.btn:hover {
  background-color: var(--red-hover);
}
.btn:active {
  background-color: var(--red-active);
  color: rgba(255, 255, 255, 0.3);
}

/* Grid */
.page {
  height: 100%;
}
.page__body {
  min-height: 100%;
  grid-template-rows: min-content 1fr min-content;
}

/* Main navigation */
.main-header {
  background-color: var(--grey);
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 53px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-title);
  text-transform: uppercase;
}
.logo {
  margin-right: 75px;
}
.logo__img {
  width: 159px;
  height: 65px;
}
.logo__img:hover {
  opacity: 0.7;
}
.logo__img:active {
  opacity: 0.3;
}
.navigation__list {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation__item {
  margin-left: 45px;
}
.navigation__item--current {
  position: relative;
}
.navigation__item--current::before {
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--red);
}
.navigation__link {
  display: block;
  padding: 13px 0;
  color: var(--basic-title);
}
.navigation__link:hover {
  color: var(--red-hover);
}
.navigation__link:active {
  color: rgba(0,0,0, 0.3);
}

/* Backet */

.backet {
  position: relative;
}
.backet__link {
  padding-left: 40px;
}
.backet__link::before {
  position: absolute;
  bottom: 21px;
  left: 0;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../img/toolbox/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* Main slider */
.slider {
  position: relative;
  margin-bottom: 80px;
  background-color: var(--grey);
}
.slider__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.slider__item {
  width: 526px;
}
.slider__title {
  max-width: 538px;
  padding: 65px 0 0 0;
  margin: 0 0 40px 0;
  color: var(--basic-title);
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}
.slider__info {
  max-width: 416px;
  margin-bottom: 25px;
}
.slider__btn {
  padding: 16px 55px;
  margin-bottom: 80px;
}

.slider__item--design {
  display: block;
}
.slider__item--design::before {
  position: absolute;
  width: 760px;
  height: 431px;
  content: "";
  top: -15px;
  right: 375px;
  background-image: url("../img/slider/slide-design.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.slider__item--math {
  display: none;
}
.slider__item--math::before {
  position: absolute;
  width: 760px;
  height: 431px;
  content: "";
  top: -13px;
  right: 375px;
  background-image: url("../img/slider/slide-math.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.slider__item--night {
  display: none;
}
.slider__item--night::before {
  position: absolute;
  width: 760px;
  height: 431px;
  content: "";
  top: -12px;
  right: 375px;
  background-image: url("../img/slider/slide-night.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* Offers */
.offers {
  margin-bottom: 39px;
}
.offers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 2px solid var(--grey);
}
.offers__title {
  font-size: 24px;
  line-height: 30px;
  margin: 171px 0 0 0;
  padding: 0;
  color: var(--basic-title);
  text-transform: uppercase;
}
.offers__info {
  max-width: 260px;
  margin-bottom: 32px;
}
.offers__item {
  position: relative;
  margin-right: 140px;
}
.offers__item:last-child {
  margin-right: 0;
}
.offers__item--web::before {
  position: absolute;
  width: 300px;
  height: 146px;
  content: "";
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("../img/offers/offers-web.png");
}
.offers__item--app::before {
  position: absolute;
  width: 300px;
  height: 146px;
  content: "";
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("../img/offers/offers-app.png");
}
.offers__item--show::before {
  position: absolute;
  width: 300px;
  height: 146px;
  content: "";
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("../img/offers/offers-show.png");
}
.offers__btn {
  margin-bottom: 80px;
}
.btn--app {
  background-color: var(--green);
}
.btn--app:hover {
  background-color: var(--green-hover);
}
.btn--app:active {
  background-color: var(--green-active);
}
.btn--show {
  background-color: var(--yellow);
}
.btn--show:hover {
  background-color: var(--yellow-active);
}
.btn--show:active {
  background-color: var(--yellow-active);
}

/* About-us */
.about-us__wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 48px;
  border-bottom: 2px solid var(--grey);
}

/* Info */
.info {
  max-width: 651px;
}
.info__slogan {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin: 35px 0 32px 0;
}
.info__concept {
  margin-bottom: 41px;
}
.info__title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 23px;
}
.info__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.info__item {
  position: relative;
  margin-bottom: 24px;
  margin-left: 36px;
}
.info__item::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  left: -35px;
  top: 10px;
  background-color: var(--red);
}

/* Data */
.data {
  max-width: 360px;
}

.data__title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 34px;
  padding-left: 17px;
}
.data__img {
  width: 360px;
  height: 208px;
  margin-bottom: 30px;
}
.table {
  position: relative;
  max-width: 350px;
  border-collapse: collapse;
  table-layout: fixed;
}
.table__wrapper--item {
  position: absolute;
  content: "";
  bottom: -60px;
}
.table__wrapper--title {
  position: absolute;
  content: "";
  top: 70px;
}
.table__item {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
}

.table__item--sub {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
}

/* Main portfolio */
.main-portfolio {
  margin-bottom: 80px;
}
.main-portfolio__list {
  display: flex;
  justify-content: space-between;
  align-self: center;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  border-bottom: 2px solid var(--grey);
}
.main-portfolio__item {
  position: relative;
  width: 209px;
  padding: 30px 25px 37px;
}
.main-portfolio__item::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 52px;
  background-color: var(--grey);
  right: -20px;
  top: 45px;
}
.main-portfolio__img {
  opacity: 0.2;
}
.main-portfolio__img:hover {
  opacity: 1;
}
.main-portfolio__img:active {
  opacity: 0.1;
}

/* Contacts */
.contacts {
  position: relative;
  margin-bottom: 63px;
}
.contacts__wrapper {
  position: absolute;
  max-width: 220px;
  padding: 49px 50px 0 50px;
  top: 55px;
  background-color: var(--basic-theme);
}
.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin: 0 0 24px 0;
}
.contacts__img {
  position: relative;
  min-width: 100%;
  width: 1440px;
  height: 416px;
}
.contacts__info {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-contacts);
  font-style: normal;
  margin-bottom: 15px;
}
.contacts__phone {
  display: block;
  color: var(--basic-contacts);
  margin-bottom: 33px;

}
.contacts__btn {
  display: inline-block;
  padding: 18px 44px 15px 44px;
  margin-bottom: 47px;
}
/* Main footer */
.footer__wrapper {
  display: grid;
  grid-template-columns: 260px 1fr;
  column-gap: 140px;
}

/* Social */

.social__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 260px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.social__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: var(--basic-social);
}
.social__link::before {
  position: absolute;
  content: "";
  width: 27px;
  height: 27px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.social__link:hover {
  background-color: var(--red-hover);
}
.social__link:active path {
  background-color: var(--red-active);
  opacity: 0.3;
}

/* Discount */
.discount__promo {
  margin: 0;
  margin-bottom: 10px;
  padding-top: 5px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}
.discount__info {
  padding: 0;
  margin: 0;
  line-height: 22px;
  color: var(--basic-footer-info);

}

/* Shop page */

/* Header shop */
.inner-page__header {
  background-color: var(--grey);
  margin-bottom: 40px;
}
.inner-page__title {
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  padding: 65px 0 108px 0;
  margin: 0;
}

/* Inner-page__shop */
  .inner-page__wrapper {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: 260px 2fr;
    gap: 100px;

  }

/* Filters */
.filters {
  grid-row: 1/-1;
}
.filters__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700px;
  text-transform: uppercase;
  color: var(--basic-title);
}
.range__subtitle {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400px;
  text-transform: uppercase;
  color: var(--basic-text);
}
.filters__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.filters__item {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400px;
  color: var(--basic-text);
}
/* Sort */
.sort {
  grid-column: 2/-1;
}
.sort__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Shop */
.shop {
  max-width: 900px;

}
.shop__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 760px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.shop-item {
  width: 358px;
  min-height: 578px;
}
.shop-hover {
  display: none;
  position: absolute;

}
.shop-hover:hover {
  display:
}
/* Pagination*/
.pagination {
  grid-row: 3/-1;
  grid-column: 2/-1;

}
.pagination__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
