/* Variables*/

:root {
  --basic-theme: #FFFFFF;
  --basic-text: #283136;
  --basiс-title: #000000;
  --red: #FB565A;
  --red-hover: #E74246;
  --red-active: #D7373B;
  --green: #00CA74;
  --green-hover: #00BC6C;
  --green-active: #00AA62;
  --yellow: #EFC84A;
  --yellow-hover: #EAB534;
  --yellow-active: #E5A722;
  --grey: #EEEEEE;
  --grey-hover: #DFDFDF;
  --grey-active: #D5D5D5;
  --basic-social: #E1E1E1;
  --basic-preview-browser: #4D4D4D;
  --basic-contacts: #666666;
  --basic-footer-info: #444444;
}

/* Global */
body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-text);
  background-color: var(--basic-theme);

  min-height: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}
/* Button */
.btn {
  display: inline-block;
  padding: 16px 40px;
  font-size: inherit;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--red);
  color: var(--basic-theme);
  border: none;
  border-radius: 3px;
}
.btn:hover {
  background-color: var(--red-hover);
}
.btn:active {
  background-color: var(--red-active);
  color: rgba(255, 255, 255, 0.3);
}

/* Grid */
.page__body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Main navigation */
.main-header {
  padding-bottom: 78px;
  background-color: var(--grey);
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-title);
  text-transform: uppercase;
}
.logo__link {
  width: 160px;
  height: 65px;
  margin-right: 200px;
}

/* User navigation */
.navigation__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
  margin: 0;

}
.navigation__link {
  display: block;
  padding: 5px 10px;
  color: var(--basic-title);
}
.navigation__link:hover {
  color: var(--red-hover);
}
.navigation__link:active {
  color: rgba(0,0,0, 0.3);
}
.navigation__link {
  display: inline-block;
}


/* Main slider */
.slider {
  background-color: var(--grey);
}
.slider__list {
  width: 526px;
  display: grid;
  padding: 0 0 80px 0;
  margin: 0;
  list-style: none;
}
.slider__title {
  padding: 0;
  margin: 0;
  margin-bottom: 37px;
  color: var(--basic-title);
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}
.slider__info {
  margin-bottom: 27px;
}
.slider__btn {
  width: 240px;

}


/* Offers */
.offers__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 80px 0 80px 0;
  list-style: none;
  border-bottom: 2px solid var(--grey);
}
.offers__item {
  min-width: 300px;
  margin-right: 100px;

}
.offers__item:nth-child(3n){
  margin-right: 0;
}
.offers__title {
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-title);
  text-transform: uppercase;
}
.offers__info {
  width: 260px;
}

.btn--app {
  background-color: var(--green);
}
.btn--app:hover {
  background-color: var(--green-hover);
}
.btn--app:active {
  background-color: var(--green-active);
}
.btn--show {
  background-color: var(--yellow);
}
.btn--show:hover {
  background-color: var(--yellow-active);
}
.btn--show:active {
  background-color: var(--yellow-active);
}

/* Info */
.about-us__wrapper {
  display: flex;
}
.about-us__wrapper {
  border-bottom: 2px solid var(--grey);
}
/* Info */
.info__slogan {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}
.info__title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.info__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Data */

.data__title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.table__item {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
}
.table__item--sub {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
}

/* Main portfolio */
.main-portfolio__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin-bottom: 0;

  border-bottom: 2px solid var(--grey);
}
.main-portfolio__img {
  opacity: 0.2;
}
.main-portfolio__img:hover {
  opacity: 1;
}
.main-portfolio__img:active {
  opacity: 0.1;
}

/* Main footer */


/* Contacts */
.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}
.contacts__info {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-contacts);
  font-style: normal;

}
.contacts__phone {
  color: var(--basic-contacts);

}

/* Social */
.social__wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;

}
.social__list {
  display: flex;
  justify-content: flex-start;
  vertical-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.social__item {
  margin-right: 9px;
}
.social__link {
  color: inherit;
}
.social__link:hover {

}
.social__link:focus {

}

/* Discount */
.discount__promo {
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}
.discount__info {
  margin-bottom: 74px;
  line-height: 22px;
  color: var(--basic-footer-info);

}

/* Shop header */

.inner-page__header {
  background-color: var(--grey);
}
.inner-page__title {
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  padding-bottom: 108px;
  margin: 0;
}
/* Global Shop */
.inner-page__wrapper {
  display: grid;
  grid-template-columns: 260px 2fr;

}
/* Filters */
.filters__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700px;
  text-transform: uppercase;
  color: var(--basic-title);
}
.range__subtitle {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400px;
  text-transform: uppercase;
  color: var(--basic-text);
}
.filters__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.filters__item {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400px;
  color: var(--basic-text);
}
.btn--filter {
  .btn--filter {
    background-color:
  }
  .btn--fiter:hover {
    background-color:
  }
  .btn--filter:active {
    background-color:
  }

}
/* Shop */
